
header, form label, h3 {
  font-family: 'Acme', sans-serif;
}

h1 {
  font-size: 5vw;
  color: #4484CE;
  text-align: center;
}

h2 {
  font-size: 2vw;
}

h3 {
  margin-bottom: 0;
}

header p, main label {
  font-size: 1.4vw;
}


img {
  margin: auto;
  display: block;
}


section * {
  padding: 0 2px;
}

span {
  font-weight: bold;
}

section > p {
  text-align: center;
  font-style: italic;
  margin-top: 0.3em; 
}

.column-container {
  display: flex;
}

.column-container section {
  display: inline-block;
  width: 100%;
  border-style: groove;
  margin: 5px;
  background-color: #FFF;
}

.query-placeholder, form, header, h3 {
  text-align: center;
}

form {
  margin: 10px auto;
}

.hide {
  display: none;
}

#input-search {
  padding: 5px;
  border: 1px solid #4484CE;
}

#map {
  margin-top: 10px;
  border: 2px solid #4484CE;
}