ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  text-indent: 5px;
}

li {
  border-bottom: 2px solid #555;
}

button {
  padding: 5px 15px;
  background-color:#F19F4D;
  border: 1px solid #4484CE;
}